.socialMedia {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.875rem;
  margin-top: 5rem;
}

h1 {
  font-size: 5rem;
  color: var(--pink-900);
}

h2 {
  font-size: 3rem;
}

.socialMedia li {
  background-color: rgba(255, 255, 255, 0.527);
  padding: 0.25rem;
  border-radius: 10px;
  transition: all 0.3s ease;
  animation: slideInFromRight 0.8s ease-out forwards;
  opacity: 0;
  transform: translateX(100px);
}

.socialMedia li:nth-child(1) {
  animation-delay: 0.2s;
}

.socialMedia li:nth-child(2) {
  animation-delay: 0.4s;
}

.socialMedia li:nth-child(3) {
  animation-delay: 0.6s;
}

.socialMedia li:nth-child(4) {
  animation-delay: 0.8s;
}

@keyframes slideInFromRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.socialMedia li:hover {
  transform: translateX(0) scale(1.1);
}

.socialMedia a {
  color: var(--pink-900);
}

.socialMedia svg {
  display: block;
  transition: all 0.3s ease;
}

.socialMedia svg:hover {
  transform: scale(1.1);
}

/* Responsividade Tablet */
@media (max-width: 768px) {
  .homeContainer {
    padding: 2rem;
  }
}
/* Responsividade celular */
@media (max-width: 480px) {
  .homeContainer {
    padding: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }
}
