.sidebar {
  position: fixed;
  top: 50%;
  left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  transform: translateY(-50%);
  z-index: 1000;
}

.sidebarLink {
  background-color: var(--white);
  padding: 0.625rem 0.875rem;
  border-radius: 1.25rem;
  text-decoration: none;
  color: var(--black-500);
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.active {
  background-color: var(--pink-900);
  color: var(--white);
}

.hanko {
  width: 3.75rem;
  position: absolute;
  top: -9.375rem;
  left: 2.5rem;
}

/* Responsividade Tablet*/
@media (max-width: 768px) {
  .sidebar {
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 0.6rem;
    width: auto;
  }

  .sidebarLink {
    padding: 0.6rem;
    font-size: 1.3rem;
    gap: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    justify-content: center;
    position: relative;
  }

  .sidebarLink span {
    display: none;
  }

  .sidebarLink.active {
    background-color: var(--pink-900);
    color: var(--white);
    transform: scale(1.1);
  }

  .hanko {
    width: 2.5rem;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Responsividade celulares*/
@media (max-width: 480px) {
  .sidebar {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
    justify-content: center;
    flex-wrap: nowrap;
  }

  .sidebarLink {
    padding: 0.5rem;
    font-size: 1.2rem;
    gap: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    justify-content: center;
    position: relative;
  }

  .sidebarLink span {
    display: none;
  }

  .sidebarLink.active {
    background-color: var(--pink-900);
    color: var(--white);
    transform: scale(1.1);
  }

  .hanko {
    width: 1.8rem;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
  }
}
