:root {
  --gray-900: #0e0e10;
  --gray-700: #1a1a1d;
  --gray-100: #a1a1aa;
  --white: #eeeeee;
  --ciano: #00ffff;
  --purple: #8a2be2;
  --pink: #ff007f;
  --green: #39ff14;
  --orange: #ff6a00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html, body, #root, .container {
  scroll-behavior: smooth;
}

body {
  background-color: var(--gray-900);
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--white);
}
