:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "TikTok Sans", sans-serif;
  
  --pink-900: #BF6068;
  --black-400: #444444;
  --black-500: #333333;
  --yellow-800: #fbbf24;
  --gray-200: #dddddd;
  --gray-100: #e5e7eb;
  --white: #F2E9E9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

.swiper-pagination-bullet {
  background: var(--pink-900) !important; /* bolinhas normais */
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background: var(--pink-900) !important; /* bolinha ativa */
  opacity: 1;
}